/*
Imports from fonts.google.com
    font-family: 'Inconsolata', monospace;

    font-family: 'Noto Sans JP', sans-serif;
*/

:root {
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    --ide-background: #202220;
    --terminal-background: #161616;
    --ide-mainscript: #F8F9FA;
    --ide-specialscript-1: #9ADCE4;
    --ide-specialscript-2: #ED6A5A;
    --ide-specialscript-3: #F4F1BB;
    --transition-speed: 400ms;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

div {
    margin: 0;
    padding: 0;
}

.bodyclass {
    display: inline-block;
    direction: horizontal;
    display: flex;
    justify-content: center;
}

.boxy {
    min-height: 90vh;
    min-width: 50vw;
    display: inline-block;
}

textarea {
    padding: 2vw;
    width: 30vw;
    height: 80vh;
    background-color: var(--ide-background);
    color: var(--ide-mainscript);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: "Inconsolata", monospace;
    line-height: 140%;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

button {
    padding: 0;
    border: none;
    background: var(--ide-mainscript);
}

a {
    color: var(--ide-mainscript);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--ide-mainscript);
}

.runButton {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;  
    position: absolute;
    right: -40%;
    bottom: 15%;  
    border-radius: 20px;
    -webkit-animation: slideleft2 0.6s forwards;
    -webkit-animation-delay: 1s;
    animation: slideleft2 0.6s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slideleft2 {
    100% { right: 2%; }
}

@keyframes slideleft2 {
    100% { right: 2%; }
}

#inputbox {
    background-color: var(--ide-background);
    position: absolute;
    left: 0vw;
}

#terminalbox {
    background-color: var(--terminal-background);
    width: 40vw;
    position: absolute;
    right: 0;
    position: absolute;
    right: 0vw;
}

@-webkit-keyframes slideright {
    100% {left: 50vw;}
}

@-webkit-keyframes slideleft {
    100% {right: 50vw;}
}

@keyframes slideright {
    100% {left: 50vw;}
}

@keyframes slideleft {
    100% {right: 50vw;}
}

.footer {
    height: 2vh;
    display: flex;
    flex-direction: horizontal;
    position: absolute;
    left: 1vw;
    bottom: -10%;
    -webkit-animation: slidedown 0.6s forwards;
    -webkit-animation-delay: 0.2s;
    animation: slidedown 0.6s forwards;
    animation-delay: 0.2s;
}

@-webkit-keyframes slidedown {
    100% {bottom: 10%}
}

@keyframes slidedown {
    100% {bottom: 10%}
}

.MadyBy {
    justify-content: center;
    text-align: center;
    color: var(--ide-mainscript);
    font-size: 20px;
    padding-right: 5vw;
}

.h6button {
    padding-top: 1vh;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 14px;
}

#infoplacer {
    color: var(--ide-specialscript-2);
}

.outputText {
    margin: 1vw;
    margin-top: 2vh;
    font-family: 'Inconsolata', monospace;
    color: var(--ide-mainscript);
}

.errText {
    margin: 1vw;
    margin-top: 2vh;
    font-family: 'Inconsolata', monospace;
    color: var(--ide-specialscript-2);
}